<div class="container-fluid mt-5 about-style" id="aboutid">
 <div class="row">
    <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About us</h1>
        <p class="text-center sub-heading">grow your business with us</p>
        <div class="row">
            <div class="col-lg-5 col-xl-6 col-12 hero-text order-md-1 order-0">
            <figure>
                <img src="images/grouth.png" alt="hero section_image">
            </figure>
        </div>
        <div class="col-lg-7 col-xl-6  col-12 hero-text order-md-0 d-flex justify-content-center align-items-start flex-column">
              <h1>WE ARE THE PROFESSIONAL DEVELOPER</h1>
              
              <p>welcome to our<span class="bold-style"> website</span>,
              your number one source for all things. we are dedicated to giving
              you the very best of work, with a focus on
              customer service and uniqueness</p>
              <button class="btn-style btn-primary">read more</button>
        </div>
         
</div>
    </div>
 </div>
</div>