<style>
    .navbar-collapse{
      position: static;

    }

    @media screen and (max-width :992px) {
      .navbar-collapse{
        position: absolute;
      }
    }
</style>


<div class="container-fluid navbar-style py-3">
  <nav class="navbar navbar-expand-lg navbar-light position-relative bg-light">
    <a class="navbar-brand" href="#" style="font-size: 24px;">Milan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center w-100 bg-light" style="z-index: 2;top:50px" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aboutid">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#serviceid">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#mapid">Location</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contactid">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</nav>