<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">our services</h1>
            <p class="text-center sub-heading">grow your business with us</p>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="logos/settings.png" alt="">
                            </div>
                            <h4>settings</h4>
                            <p>In This idyllic setting, adorned with the timeless elegance of simplicity, invites introspection and reflection...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="logos/speed.png" alt="">
                            </div>
                            <h4>speedup</h4>
                            <p>Within serene landscapes, whispered conversations echo nature's timeless elegance...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="logos/privcy.png" alt="">
                            </div>
                            <h4>privacy</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequatur labore eos...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="logos/backups.png" alt="">
                            </div>
                            <h4>backups</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, et vero. Modi...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="logos/ssl.png" alt="">
                            </div>
                            <h4>SSL secured</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero eius temporibus
                                distinctio...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="logos/dta.png" alt="">
                            </div>
                            <h4>database</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam illo distinctio explicabo...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>